<div class="tb">
<div class="toubu1">
	<div class="shijian">
		<img class="img1"src="../image/2016-06-10_141214.png"/>
    </div>
    <div class="zixun">
    	<img  class="zizhu1"src="../image/2016-06-10_140944.png">
    	<div class="sousuo">
    	     <img  class="img1" src="../image/2016-06-10_151247.png">
    		 <input type="text" value="大家都在搜:邓亚萍的辞职"/>
             <img  class="img2" src="../image/2016-06-10_152215.png">
    	</div>
    	<a href="/#/grzl"><img class="ziliao"src="../image/2016-06-10_153259.png"></a>
       </div>
</div>
<div class="daohang">
	<ul class="daohang1">
	   <li ng-repeat="v in dhs" >
       <a href="/#/{{v.lianjie}}" ng-class="{active:name=='{{v.name}}'}" ng-click="name='{{v.name}}'">{{v.name}}</a>
    </li>
	</ul>
	<img  class="daohang2"src="../image/2016-06-10_163136.png">
</div>
</div>