<div class="rd"id="dianying">
	 <div  class='shouqiang'>
  	     <div class="wenti"><a href="">高颜值青春</a></div>
  	     <div class="shiping"><a href="">恐怖生物</a></div>
  	     <div class="shenzuo"><a href="">烧脑神作</a></div>
  	     <div class="manwei"><a href="">漫威英雄</a></div>
    </div>
    <div class="dianying1">
    	<h3>电影《爵迹》预告倒计时之王缘变身苍白少年</h3>
    	<div class="jueji"><img src="./image/2016-06-11_103634.png"></div>
    	<div class="biaozhi">
    		<ul>
    			<li><img src="./image/2016-06-11_111241.png"></li>
    			<li><img src="./image/2016-06-11_111401.png"></li>
    			<li><img src="./image/2016-06-11_111610.png"></li>
    			<li><img src="./image/2016-06-11_111635.png"></li>
    			<li></li>
    			<li><img src="./image/2016-06-11_111801.png"></li>
    		</ul>
    	</div>
    </div>
     <div class="redian">
	<div class="ozhou"><h3>吴亦凡《爵迹》预告:除了帅和大长腿，还有演技!</h3></div>
    <ul class="row">
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_112426.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_112445.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_112509.png"></div></li>
    </ul>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">橘子娱乐</a></li>
    		<li><a href="">  4评</a></li>
    		<li><a href="">6小时前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
</div>