<div class="grzl" id="grzl">
	<div><img class="img1"src="./image/2016-06-11_152856.png"></div>
	 <div class="tu2"><img class="img2"src="./image/2016-06-11_153809.png">
     <div class="fanhui"><a href="/#/tuijian"></a></div></div>

     <div class="shoucang">
     	<img class="xingxing"src="./image/2016-06-11_161510.png">
        <span>我的收藏</span>
     	<img class="fanhui" src="./image/2016-06-11_161548.png">
     </div>


     <div class="shoucang">
     	<img class="xingxing"src="./image/2016-06-11_163203.png">
        <span>消息中心</span>
     	<img class="fanhui" src="./image/2016-06-11_161548.png">
     </div>


     <div class="shoucang">
     	<img class="xingxing"src="./image/2016-06-11_162738.png">
        <span>新闻推送</span>
     	<img class="fanhui" src="./image/2016-06-11_161548.png">
     </div>


     <div class="shoucang">
     	<img class="xingxing"src="./image/2016-06-11_162914.png">
        <span>最近阅读</span>
     	<img class="fanhui" src="./image/2016-06-11_161548.png">
     </div>

     <div class="shoucang">
     	<img class="xingxing"src="./image/2016-06-11_162947.png">
        <span>最近活动</span>
     	<img class="fanhui" src="./image/2016-06-11_161548.png">
     </div>

     <div class="shezhilei">
     	<li><img src="./image/2016-06-11_164816.png"><span>离线下载</span></li>
     	<li><img src="./image/2016-06-11_164927.png"><span>夜间模式</span></li>
     	<li><img src="./image/2016-06-11_165011.png"><span>意见反馈</span></li>
     	<li><img src="./image/2016-06-11_165516.png"><span>设置</span></li>

     </div>
</div>