<div class="rd">
<!-- 	 -->
<div class="redian">
	<div class="ozhou"><h3>欧洲杯明晨谢幕十亮点抢鲜看:史上最激烈的一届?</h3></div>
    <ul class="row">
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-10_183312.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-10_183445.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-10_183535.png"></div></li>
    </ul>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">中国新闻网</a></li>
    		<li><a href="">2评</a></li>
    		<li><a href="">14分钟前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
<!-- //模版2 -->
<div class="redian">
	<div class="ozhou"><h3>养老院高额押金成监管忙区，成不发分子的吸金渠道</h3></div>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">北京青年报</a></li>
    		<li><a href="">1评</a></li>
    		<li><a href="">13分钟前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
<div class="redian">
	<div class="ozhou"><h3>朝鲜称自卫性核遏制力不应该成为战争的借口</h3></div>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">北京青年报</a></li>
    		<li><a href="">1评</a></li>
    		<li><a href="">13分钟前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
<div class="redian">
	<div class="ozhou"><h3>新三板规范卷商内核工作 要求严格把关保荐项目</h3></div>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">新华网</a></li>
    		<li><a href="">3评</a></li>
    		<li><a href="">12分钟前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
<div class="redian">
	<div class="ozhou"><h3>欧洲杯经典之战回眸：英德有世仇 法国多次上榜</h3></div>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">京华时报</a></li>
    		
    		<li><a href="">15分钟前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
</div>