<div class='rd'id="shouqiang">
  <div  class='shouqiang'>
  	<div class="wenti"><a href="">相关问题</a></div>
  	<div class="shiping"><a href="">相关视屏</a></div>
  </div>

 <div class="redian">
	<div class="ozhou"><h3>质量轻威力大的苏联名枪托卡列夫,我国曾经纺织，并大量装备军警!</h3></div>
    <ul class="row">
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_001220.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_001313.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_001336.png"></div></li>
    </ul>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">军武次位面</a></li>
    		<li><a href="">  2评</a></li>
    		<li><a href="">  1天前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>

<div class="zhongwei">
	<div class="zhongwei1">
		<div class="zi">
		<h3>中尉双枪射击10发子弹96环 曾为阅兵排头兵</h3>
         <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">解放军报</a></li>
    		<li><a href="">  2评</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
		</div>
		<div class="tu">
			<img src="./image/2016-06-11_004135.png">
		</div>
	</div>
</div>

<div class="redian">
	<div class="ozhou"><h3>还记得一枪二马三花口的口诀？李云龙爱不释手的手枪也在其中</h3></div>
    <ul class="row">
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_005228.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_005301.png"></div></li>
    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_005325.png"></div></li>
    </ul>
    <div class="zhongguo">
    	<ul class="zhongguo1">
    		<li><a href="">军事天地</a></li>
    		<li><a href=""> 7评</a></li>
    		<li><a href=""> 7天前</a></li>
    	</ul>
    	<img src="./image/2016-06-10_191321.png">
    </div>
</div>
</div>