	<div id="tuijian"class="rd">
		<div class="zhongwei">
		<div class="zhongwei1">
			<div class="zi">
			<h3>中国军队和美国军队有何区别？越南少校一语到处真象</h3>
	         <div class="zhongguo">
	    	<ul class="zhongguo1">
	    		<li><a href="">勇读历史</a></li>
	    		<li><a href="">  223评</a></li>
	    	</ul>
	    	<img src="./image/2016-06-10_191321.png">
	    </div>
			</div>
			<div class="tu">
				<img src="./image/2016-06-11_005842.png">
			</div>
		</div>
	</div>

	 <div  class='shouqiang'>
	  	<div class="wenti"><a href="">相关问题</a></div>
	  	<div class="shiping"><a href="">相关视屏</a></div>
	  </div>

	 <div class="redian">
		<div class="ozhou"><h3>有些有钱人请了女保姆不是为了在家做饭，而是为了...</h3></div>
	    <ul class="row">
	    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_010334.png"></div></li>
	    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_010359.png"></div></li>
	    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_010524.png"></div></li>
	    </ul>
	    <div class="zhongguo">
	    	<ul class="zhongguo1">
	    		<li><a href="">思想心智</a></li>
	    		<li><a href=""> 150评</a></li>
	    		<li><a href="">  2分钟前</a></li>
	    	</ul>
	    	<img src="./image/2016-06-10_191321.png">
	    </div>
	</div>

	 <div class="redian">
		<div class="ozhou"><h3>LOL瑞雯居然打不过上单AD索拉卡！你敢信？</h3></div>
	    <ul class="row">
	    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_113007.png"></div></li>
	    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_113033.png"></div></li>
	    	<li class='col s4'><div class="ss"><img src="./image/2016-06-11_113117.png"></div></li>
	    </ul>
	    <div class="zhongguo">
	    	<ul class="zhongguo1">
	    		<li><a href="">游戏马蹄铁</a></li>
	    		<li><a href=""> 200评</a></li>
	    		<li><a href=""> 2分钟前</a></li>
	    	</ul>
	    	<img src="./image/2016-06-10_191321.png">
	    </div>
	</div>
	</div>
